<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='demo.css')}}">

<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<script>
var socket;
$(document).ready(function() {

    socket = io.connect('http://' + document.domain + ':' + location.port);

    var code = "{{code}}";
    var most_recent_seg_map = "{{seg_map}}";
    var most_recent_synth = "{{synth}}";    
    var most_recent_dialog = `{{dialog}}`;
    var current_style = "{{style}}";
    var token = "{{token}}";
    document.getElementById("token").innerText = token;

    // Update retrieved data
    document.getElementById("chat").value = most_recent_dialog;
    document.getElementById("chat").scrollTop = document.getElementById("chat").scrollHeight;
    document.getElementById('result').src = most_recent_synth;

    console.log(most_recent_seg_map);

    var _0xe799x8b = new Image();
    _0xe799x8b['src'] = most_recent_seg_map;
    function _0xe799x8d() {
        context['clearRect'](0, 0, canvas['width'], canvas['height']);
        context['drawImage'](_0xe799x8b, 0, 0, canvas['width'], canvas['height'])
    }
    _0xe799x8b['onload'] = _0xe799x8d;
    // context['clearRect'](0, 0, canvas['width'], canvas['height']);
    context['drawImage'](_0xe799x8b, 0, 0, CANVAS_WIDTH_2K, CANVAS_HEIGHT_2K);
    console.log("replace_seg_map!");

    // Data recieved
    socket.on('response', function(data) {
        document.getElementById("chat").value += "Bot: " + data['text'] + '\n\n';
        document.getElementById("chat").scrollTop = document.getElementById("chat").scrollHeight;
        token = data['token']
        document.getElementById("token").innerText = token;
        if (!data["success"]) {
          alert("Sorry, you submitted too soon! Please try converting ONLY YOUR IMAGE again! (don't send the same message, just click the convert arrow)");
        }else{
          document.getElementById('result').src = data["synth"];
        }
    });

    // Style Response
    socket.on('style_response', function(data) {        
        if (!data["success"]) {
            alert("Sorry, you submitted too soon! Please try resubmitting again!");
        }else{
          document.getElementById('result').src = data["synth"];
        }
    });

     // Enter key pressed - send data
     const node = document.getElementsByClassName("textfield")[0];
      node.addEventListener("keyup", function(event) {
          if (event.key === "Enter") {
              var txt = document.getElementById('textfield_input').value;
  
              if (txt.length < 250 && txt.length > 2) {

                  document.getElementById('textfield_input').value = "";

                  // Seg map
                  var image_in_base64 = canvas['toDataURL']('image/png');

                  // Emit
                  socket.emit('message', {'text':txt, 'seg_map':image_in_base64, "code":code, "style":current_style});       
                  
                  document.getElementById("chat").value += "You: " + txt + '\n\n';
                  document.getElementById("chat").scrollTop = document.getElementById("chat").scrollHeight;

              }else if (txt.length > 250) {
                  alert("Your message is too long!");
              }else{
                  alert("Your message is too short!");
              }                     
          }
      });    

    function change_style(style_id) {
        // Emit
        socket.emit('change_style', {'style':style_id, 'seg_map':canvas['toDataURL']('image/png'), "code":code}); 
        current_style = style_id;      
    };

    document.getElementById("example0").addEventListener('click', function(){change_style("0");});
    document.getElementById("example1").addEventListener('click', function(){change_style("1");});
    document.getElementById("example2").addEventListener('click', function(){change_style("2");});
    document.getElementById("example3").addEventListener('click', function(){change_style("3");});
    document.getElementById("example4").addEventListener('click', function(){change_style("4");});
    document.getElementById("example5").addEventListener('click', function(){change_style("5");});
    document.getElementById("example6").addEventListener('click', function(){change_style("6");});
    document.getElementById("example7").addEventListener('click', function(){change_style("7");});
    document.getElementById("example8").addEventListener('click', function(){change_style("8");});
    document.getElementById("example9").addEventListener('click', function(){change_style("9");});
    document.getElementById("example10").addEventListener('click', function(){change_style("10");});
    document.getElementById("render").addEventListener('click', function(){change_style(current_style);});
  });
</script>

</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<div>

<table class='table'>
<tr>
  <td width=11% valign="center"><h4>Fill/brush color: </h4></td>
  <td width=4% valign="center"><canvas id="brush_color"></canvas></td>      
  <td width=11% valign="center"><h4>Brush shape: </h4></td>
  <td width=10%>
      <button id="brush_circle" class="btn brush_circle"></button>
      <button id="brush_square" class="btn brush_square"></button>
      <button id="brush_diamond" class="btn brush_diamond"></button>    
  </td>
  <td width=9%><h4>Brush size: </h4></td>
  <td width=4%><h4><span id="rangevalue"></span></h4></td>
  <td> <input type="range" step= "2" min="2" max="200" value="24" class="slider" id="myRange"> </td>
  <td width=10% align='right'>
    <a target="_blank" href='https://www.nvidia.com/en-us/research/'><img src="{{ url_for('static',filename='nvidia.png')}}" style="width:100%;"></a>
  </td>  
  <td width=12% align='center'><h4>GanDraw - Alpha</h4><td>  
</tr>
</table>

<table class='table' id="main_frame">
<tr> 
<td  width=8% valign="top">
<div class='btn-group' id="category">
<table>
<!-- <tr><th><button class="btncat cat-bldg">Building</button></th></tr> -->
<tr><th><button class="btncat cat-ground">Ground</button></th></tr>
<tr><th><button class="btncat cat-landscape cat-active">Landscape</button></th></tr>
<tr><th><button class="btncat cat-plant">Plant</button></th></tr>
</table>
</div>
<hr>
<div class="btn-group" id="palette"> 
</div>
</td>

<td valign='top' class='td' align='center'>
<table>
<tr><th><button id="new" class="btn new"></button></th></tr>
<tr><th><button id="brush" class="btn brush"></button></th></tr>
<tr><th><button id="fill" class="btn fill"></button></th></tr>
<tr><th><button id="eyedropper" class="btn eyedropper"></button></th></tr>
<tr><th><button id="undo" class="btn undo"></button></th></tr>
</table>
</td>

<td align='center'><canvas id="viewport"></canvas> </td>
<td valign='bottom' algin='left'>
  <a id="download" download="gaugan_input.png" href="#" onclick="download_segmap(this);"><button id="save" class="btn save"></button></a>
</td>
<td valign='center' class='td' align='center'>
<button id="render" class="btn render"></button></td>
<td align='center'>
  <canvas style="width: 0px; height: 0px;" id="output"></canvas> 
  <!-- <canvas id="output"></canvas>  -->
  <img id="result" style="width: 512px; height: 512px; background-color: lightgray; margin: 30px;"></img>
</td>
<td valign='bottom' algin='left'>
<a id="download" download="gaugan_output.jpg" href="#" onclick="download_rendered(this);"><button id="save_render" class="btn save_render"></button></a>
</td>
</tr>
</table>

<table class='table' style="visibility: visible;">
  <tr>   
  <th><button id="example0" class="btn example0"></button></th>  
  <th><button id="example1" class="btn example1" ></button></th>
  <th><button id="example2" class="btn example2" ></button></th>
  <th><button id="example3" class="btn example3" ></button></th>
  <th><button id="example4" class="btn example4" ></button></th>
  <th><button id="example5" class="btn example5" ></button></th>
  <th><button id="example6" class="btn example6" ></button></th>
  <th><button id="example7" class="btn example7" ></button></th>
  <th><button id="example8" class="btn example8" ></button></th>
  <th><button id="example9" class="btn example9" ></button></th>
  <th><button id="example10" class="btn example10" ></button></th>
  <th></th> <th></th> <th></th> <th></th> <th></th> <th></th>    
  <th><div class="container"><canvas id="custom"></canvas>
      <button id="customBtn" class="btn" style="visibility: hidden;">b</button></div></th>
  </tr>
</table>

<!-- Required -->
<input type="checkbox" id="myCheck" value=0 style="width:0px;height:0px;" onclick="toggleCheckbox()">
<canvas id="output2k"></canvas>




<script src="{{ url_for('static',filename='demo.js')}}"> </script>

<script>toggleCheckbox();</script>

<div id="chatbox" style="width: 100%; display: flex; flex-direction: column; align-content: flex-start; align-items: flex-start;">
  
  <textarea id="chat" style="width: 1000px; margin: 20px; height: 350px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 15px;"></textarea>

  <div style="display: flex; justify-content: center; align-items: center; align-content: center;">
    <b style="height: 25px; margin: 20px;">Enter text HERE & press enter to send:</b>
    <input type="text" id="textfield_input" class="textfield" style="width: 347px;">     
  </div>

  <div style="display: flex; justify-content: center; align-items: center; align-content: center;, flex-direction: row;">
    <b style="font-size: 25px; margin: 20px;">Token to submit on MTurk will appear here: </b> <p id="token" style="font-size: 25px; color: red; margin: 0px;"></p>
  </div>
</div>

</body>
</html>