<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data Viewer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script>
        var socket;
        $(document).ready(function() {

            // socket = io.connect('{{prefix}}://' + document.domain + ':' + location.port, {path: "/visualchatsocket"});
            socket = io.connect('{{prefix}}://' + document.domain + ':' + location.port);
            
            document.getElementById('next').onclick = function() {
              socket.emit('next', {});
            };

            document.getElementById('prev').onclick = function() {
              socket.emit('prev', {});
            };
                    
            socket.on('data', function(data) {                
                var text = data['dialog'];
                var image_data = data['image_data'];
                document.getElementById('convo').innerHTML = text;                
                document.getElementById('images').innerHTML = "";

                if (data['user_type'] == 'drawer') {                    
                    var i;
                    for (i = 0; i < image_data.length; i++) {
                        var img = document.createElement("img");
                        img.src = image_data[i];
                        document.getElementById('images').appendChild(img);
                    }
                }
            });                    
          });
        </script>
        <style>
            img {
                width: 100px;
                height: 100px;
                margin: 10px;
            }
        </style>
  </head>
  <body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <h1 style="margin: 10px;">Data Viewer</h1>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">                
                <a class="button is-light" id="prev">
                  Prev
                </a>
                <a class="button is-primary" id="next">
                    <strong>Next</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    <div id="cont" style="margin: 20px; display: flex;">
        <div id="convo" style="margin: 20px;"></div>
        <div id="images" style="margin: 20px; display: flex; flex-direction: column;"></div>
    </div>
  </body>
</html>